<h2><%= @list.name %></h2>

<p><strong>Movies</strong></p>
<ul class="list-group">
  <% @list.bookmarks.each do |bookmark| %>
  <li class="list-group-item"><%= bookmark.movie.title %> <%= bookmark.movie.rating %></li>
  <li class="list-group-item"><%= bookmark.movie.overview %> </li>
  <li class="list-group-item"><%= bookmark.comment %>  <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></li>
  <% end %>
</ul>



<%= link_to "Create a new movie",   new_list_bookmark_path(@list) %>

<i class="fa-solid fa-table-list"></i> <%= link_to "See all lists", lists_path %>
